<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-School</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <!-- Header Section -->
    <header class="header">

        <a href="#" class="logo">K-School</a>

        <nav class="navbar">
            <a th:href="@{/index}">home</a>
            <a th:href="@{/studentlist}">Student</a>
            <a th:href="@{/teacherlist}">Teacher</a>
            <a href="#">about</a>
        </nav>
    </header>

    <section class="student" id="book">
   

        <form th:action="@{/studentform}" th:object ="${student}" method = "post">
            <h1>Student Registration</h1>
            <input type="text" name ="name" th:field = "*{name}" placeholder="Name" class="box">
            <input type="text" name ="age" th:field = "*{age}" placeholder="age" class="box">
            <input type="email" name ="email" th:field = "*{email}" placeholder="Email" class="box">
            <input type="tel"  name ="mno" th:field = "*{mno}" placeholder="Phone Number" class="box">
            <div class="addstudent">
                <div class="btn">
                    <button type="submit" class="bttn"><h2>Add Teacher</h2></button>
                </div>
            </div>
            
        </form>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html> 