@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root
{
    --main-color: rgb(42, 85, 226);
    --border: .2rem solid var(--main-color);
}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--main-color);
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
section {
    padding: 2rem 9%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    font-size: 2.7rem;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}
.header .logo{
    text-decoration: none;
    padding: 1.2rem;

}

.header .navbar a
{
    text-decoration: none;
    padding: 1.2rem;
}

.home {
    min-height: 100vh;
    padding-top: 12rem;
    display: flex;
    justify-content: center;
 }
 .home .row .content h3
 {
    position: fixed;
    left: 20rem;
    top: 25rem;
    font-size: 5rem;
 }
 .home .btn
 {
    position: fixed;
    top:32rem;   
 }
.btn button {
    background-color: var(--main-color);
    color: #fff;
    padding: 2rem;
    border-radius:10rem;
 }
.btn button a 
 {
    text-decoration: none;
 }
.btn button a h2
 {
    color: #fff;
 }
 .addstudent , .addteacher
 {
    display: flex;
    justify-content: right;

 }
 .liststud ,.listteacher
 {
    padding-top: 12rem;
 }
table{
    width: 100%;
    border-collapse: collapse;
    padding: 5rem;
}
table thead tr th 
{
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;

}
table tbody tr td
{
    color:var(--main-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
table tbody tr td button
{
   margin: 10px;
   margin-left: 20px;

}
tr td,th{
            
    padding: 10px;
    border-spacing: 10px;
    
}



.teacher , .student
{
    padding-top: 12rem;
    position: fixed;
    left: 25rem;
}
.teacher form h1,.student form h1
{
    text-align: center;
}
.teacher form ,.student form
{
    
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    padding: 3rem;
}
.teacher  form .box,.student  form .box{
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    margin: .7rem 0;
    border: .2rem solid var(--main-color);
}








