<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style type="text/css">
table{
	width:100vw;
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	color:orangered;
}
td{
	color:green;
}
tr th,td{
	border: 1px solid black;
	text-align: center;
	padding:10px;
}
#adduser{
	padding: 10px;
	margin: 10px;
}
</style>
</head>
<body>
<a th:href="@{/useradd}" style="color:orangered" class="btn btn-primary" id="adduser">ADD USER</a>
<table>
<thead>
<tr>
	<th>Name</th>
	<th>Age</th>
	<th>Gender</th>
	<th>Email</th>
	<th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="user:${usr}" >
	<td th:text="${user.name}"></td>
	<td th:text="${user.age}"></td>
	<td th:text="${user.gender}"></td>
	<td th:text="${user.email}"></td>
	<td><a th:href="@{/updatedetails/{id}(id = ${user.id})}" class="btn btn-success">Update</a>
	<a th:href = "@{/deletedetails/{id}(id = ${user.id})}" class="btn btn-danger">Delete</a></td>
</tr>
</tbody>
</table>
</body>
</html>