<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<style>
html
{
background-color:grey;
}
table
{
width:400px;

margin:50px 150px 50px 100px;
border:1px solid black;
border-collapse: collapse;

}
tr th
{
background-color:red;
}
tr th,td
{

padding:40px;
border:1px solid black;

}
</style>
</head>
<body>
 <a th:href ="@{/addbook}">Add book</a>
<table>
<thead>
<tr>
<th>Book Name</th>
<th>Author Name</th>
<th>Quantity</th>
<th>Price</th>
</tr>
</thead>
<tbody>
<tr th:each = "books:${book}">
<td th:text = "${books.book_name}" ></td>
<td th:text = "${books.author_name}"></td>
<td th:text = "${books.qty}"></td>
<td th:text = "${books.price}"></td>
</tr>
</tbody>
</table>
</body>
</html>